
@import '~bootstrap/dist/css/bootstrap.min.css';

.App {
    font-family: Corbel, Geneva, Tahoma, sans-serif;
    text-align: center;
    }

  .leaflet-container {
    height: 200px;
    width: 70%;
  }
  
  .leaflet-div-icon {
    background: transparent;
    border: none;
  }
  